
<h3 id="2.3.1-2.3.2-class">Class changes</h3>
<table><tbody>
    <tr>
        <th>What changed</th>
        <th>How it changed</th>
    </tr>
    <tr>
        <td>Magento\Framework\Serialize\Serializer\JsonHexTag</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\ProductOption</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Block\Address\Grid</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Product\View\Details</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AuthorizenetAcceptjs\Block\Form</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AuthorizenetAcceptjs\Block\Info</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\AuthorizenetAcceptjs\Block\Payment</td>
        <td>Class was removed.</td>
    </tr>
    <tr>
        <td>Magento\Framework\Mail\Template\TransportBuilder::setFromByScope</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order::getFrontendStatusLabel</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Sales\Model\Order\Config::getStatusFrontendLabel</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Reports\Model\ResourceModel\Quote\Collection::addStoreFilter</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Quote\Address\Item::getOptionByCode</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\ImportExport\Model\History::$session</td>
        <td>[protected] Property has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\Model\Customer::getAttributeSetId</td>
        <td>[public] Method has been removed.</td>
    </tr>
    <tr>
        <td>Magento\Customer\CustomerData\SectionPool::getSectionsData</td>
        <td>[public] Method parameter name changed.</td>
    </tr>
    <tr>
        <td>Magento\Theme\Block\Html\Topmenu::getCacheKeyInfo</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Quote\Model\Quote\Address\Item::getOptionBycode</td>
        <td>[public] Method has been added.</td>
    </tr>
    <tr>
        <td>Magento\Elasticsearch\Model\Config::ENGINE_NAME_5</td>
        <td>Constant has been added.</td>
    </tr>
    <tr>
        <td>Magento\Catalog\Block\Adminhtml\Product\Edit\Action\Attribute\Tab\Attributes::_construct</td>
        <td>[protected] Method has been added.</td>
    </tr>
</tbody></table>
